HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

DEEPSEEK.md

### VS Code ###
.vscode/
forum-service/.gitattributes
forum-service/mvnw*
forum-service/lecture-02-infrastructure-and-migrations.md
forum-service/.mvn
forum-service/.env

infra/.env